<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>587421265932-6dgi18djk2rldei94794k1ua230j68dd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587421265932-6dgi18djk2rldei94794k1ua230j68dd</string>
	<key>API_KEY</key>
	<string>AIzaSyA3tcvZVvfmSmDa_8dyTy_3QH8BJqFEd1M</string>
	<key>GCM_SENDER_ID</key>
	<string>587421265932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyodolski.testApp1</string>
	<key>PROJECT_ID</key>
	<string>hyodolski-test1</string>
	<key>STORAGE_BUCKET</key>
	<string>hyodolski-test1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587421265932:ios:31606c9ea2189fe0</string>
	<key>DATABASE_URL</key>
	<string>https://hyodolski-test1.firebaseio.com</string>
</dict>
</plist>